.mainContent {
  height: 100vh;
}
.userType {
  font-size: 20px;
}
.formContainer > main:nth-child(1) > section {
  width: 379px;
}
.header {
  font-size: 15px;
}
.mainContent > div:nth-child(2) {
  background: #001529;
  width: 98vw;
  color: #ffffff;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
/* Styles for small devices (phones) */
@media (max-width: 36rem) {
  .userType {
    font-size: 25px;
  }
  .mainContent {
    height: 100%;
  }
  .mainContent > div:nth-child(1) {
    height: 100vh;
  }
  .mainContent > div:nth-child(2) {
    position: sticky;
    bottom: -200px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
}
.submitButton {
  background: var(--color-accent);
  color: var(--color-primary);
  font-size: 13px;
  width: 100%;
}
/* Styles for small devices (tablets) */
@media (min-width: 36.063rem) and (max-width: 48rem) {
}

/* Styles for medium devices (laptops and desktops) */
@media (min-width: 48.063rem) and (max-width: 62rem) {
}

/* Styles for large devices (desktops) */
@media (min-width: 62.063rem) and (max-width: 75rem) {
}

/* Styles for extra large devices (large desktops and TVs) */
@media (min-width: 75.063rem) {
}
