.layout {
  height: 100%;
}
.sider > div:nth-child(1) {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  color: rgba(4, 30, 73, 0.7);
}
.content {
  padding: 0px 24px;
  min-height: 280px;
}
.navbarMobile {
  width: 100%;
  min-height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: black;
}

/* Styles for small devices (phones) */
@media (max-width: 36rem) {
  .navbarMobile {
    display: flex;
  }
  .sider,
  .sider > div:nth-child(1) {
    display: none;
  }
  .layout {
    width: 100%;
  }
  .content {
    padding: 0px 0px;
    min-height: 280px;
  }
}
.submitButton {
  background: var(--color-accent);
  color: var(--color-primary);
  font-size: 13px;
  width: 100%;
}
/* Styles for small devices (tablets) */
@media (min-width: 36.063rem) and (max-width: 48rem) {
  .sider {
    display: none;
  }
}

/* Styles for medium devices (laptops and desktops) */
@media (min-width: 48.063rem) and (max-width: 62rem) {
}

/* Styles for large devices (desktops) */
@media (min-width: 62.063rem) and (max-width: 75rem) {
}

/* Styles for extra large devices (large desktops and TVs) */
@media (min-width: 75.063rem) {
}
